<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Udalosti</string>
	<key>CFBundleIdentifier</key>
	<string>com.bence.mate.Udalosti</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Udalosti</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>raleway_black.ttf</string>
		<string>raleway_black_italic.ttf</string>
		<string>raleway_bold.ttf</string>
		<string>raleway_bold_italic.ttf</string>
		<string>raleway_extra_bold.ttf</string>
		<string>raleway_extra_bold_italic.ttf</string>
		<string>raleway_extra_light.ttf</string>
		<string>raleway_extra_light_italic.ttf</string>
		<string>raleway_italic.ttf</string>
		<string>raleway_light.ttf</string>
		<string>raleway_light_italic.ttf</string>
		<string>raleway_medium.ttf</string>
		<string>raleway_medium_italic.ttf</string>
		<string>raleway_regular.ttf</string>
		<string>raleway_semi_bold.ttf</string>
		<string>raleway_semi_bold_italic.ttf</string>
		<string>raleway_thin.ttf</string>
		<string>raleway_thin_italic.ttf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Position is needed to find events what are near to you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Position is needed to find events what are near to you.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>network-authentication</string>
	</array>
</dict>
</plist>
